/**
 * Site header
 */
.site-header {
	// border-top: 5px solid $brand-color-dark;
	border-bottom: 1px solid $brand-color-light;
	min-height: $spacing-unit * 1.865;
	line-height: $base-line-height * $base-font-size * 2.25;
	a:hover {
		text-decoration: underline;
	}
	.site-title {
		@include relative-font-size(1.625);
		font-weight: 300;
		letter-spacing: -1px;
		margin-bottom: 0;
		float: left;
		&:link,
		&:visited {
			color: $brand-color-dark;
		}
		&:hover,
		&:active {
			color: $link-base-color;
		}
	}
	.social {
		.social-media-list {
			margin: 0;
			list-style: none;
			display: table;
			li {
				float: left;
				margin: 5px 10px 5px 0;
				&:last-of-type {
					margin-right: 0;
				}
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					overflow: hidden;
					width: 32px;
					height: 32px;
					border-radius: 50%;
					transition: all .3s;
					&:link,
					&:visited {
						color: $brand-color;
					}
					&:hover,
					&:active {
						color: $link-base-color;
					}
				}
			}
		}
		&.social1 {
			margin: 0 $spacing-unit/2 0 auto;
			display: block;
		}
		&.social2 {
			display: none;
		}
		@include media-breakpoint-up(sm) {
			&.social1 {
				display: none;
			}
			&.social2 {
				margin: 0;
				display: block;
			}
		}
	}
	.site-nav {
		margin-left: 0;
		.page-link {
			display: inline-block;
			padding: $spacing-unit/5 0;
			margin-right: $spacing-unit/2;
			line-height: $base-line-height;
			color: $text-color;
			background: transparent;
			border: none;
		}
	}
}

/**
 * Site footer
 */
.site-footer {
	border-top: 1px solid $brand-color-light;
	padding: $spacing-unit 0;
}

.footer-heading {
	@include relative-font-size(1.125);
	margin-bottom: $spacing-unit / 2;
}

.feed-subscribe .svg-icon {
	padding: 5px 5px 2px 0;
}

.footer-col {
	margin-bottom: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
	width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
	width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
	.footer-col-1 {
		width: calc(35% - (#{$spacing-unit} / 2));
	}

	.footer-col-2 {
		width: calc(20% - (#{$spacing-unit} / 2));
	}

	.footer-col-3 {
		width: calc(45% - (#{$spacing-unit} / 2));
	}
}

@media screen and (min-width: $on-medium) {
	.footer-col-wrapper {
		display: flex;
	}

	.footer-col {
		width: calc(100% - (#{$spacing-unit} / 2));
		padding: 0 ($spacing-unit / 2);

		&:first-child {
			padding-right: $spacing-unit / 2;
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			padding-left: $spacing-unit / 2;
		}
	}
}

/**
 * Page content
 */
.page-content {
	padding: $spacing-unit 0;
	flex: 1 0 auto;
}

.page-heading {
	@include relative-font-size(2);
}

/**
 * list 列表
 */
.home,
.plan,
.menu {
	.post-list-heading {
		@include relative-font-size(1.75);
	}

	.menu-list {
		margin-left: 0;
		list-style: none;
		border: 1px solid $brand-color-light;
		border-radius: $spacing-unit / 3;
		padding: $spacing-unit / 3;
		transition: all .3s;
		> li {
			&:last-child {
				h3 {
					margin-bottom: 0;
				}
			}
		}
		&:hover {
			box-shadow: 0 0 10px 2px $brand-color-light;
		}
	}
	.menu-link {
		@include relative-font-size(1.7);
		&,
		&:visited {
			color: $link-base-color;
			text-decoration: none;
		}
	}

	.post-list {
		margin-left: 0;
		list-style: none;
		> li {
			margin-bottom: $spacing-unit;
		}
	}

	.post-meta {
		font-size: $small-font-size;
		color: $brand-color;
	}

	.post-link {
		@include relative-font-size(1.3);
	}
}

/**
 * Posts 详情
 */
.post {
	.post-header {
		margin-bottom: $spacing-unit;
	}

	.post-title,
	.post-content h1 {
		@include relative-font-size(2.625);
		letter-spacing: -1px;
		line-height: 1.15;

		@media screen and (min-width: $on-large) {
			@include relative-font-size(2.625);
		}
	}

	.post-content {
		display: flex;
		margin-bottom: $spacing-unit;
		text-align: justify;
		.post-wrap {
			width: 100%;
		}
		.post-sidebar {
			margin-left: $spacing-unit / 2;
			max-width: 250px;
			#toc > ul {
				margin-left: 0;
			}
			li {
				width: 100%;
				list-style: none;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
		@media screen and (max-width: $content-width) {
			overflow-x: hidden;
		}
		h1,
		h2,
		h3 {
			margin-top: $spacing-unit * 2;
		}
		h4,
		h5,
		h6 {
			margin-top: $spacing-unit;
		}

		h2 {
			@include relative-font-size(1.75);

			@media screen and (min-width: $on-large) {
				@include relative-font-size(2);
			}
		}

		h3 {
			@include relative-font-size(1.375);

			@media screen and (min-width: $on-large) {
				@include relative-font-size(1.625);
			}
		}

		h4 {
			@include relative-font-size(1.25);
		}

		h5 {
			@include relative-font-size(1.125);
		}
		h6 {
			@include relative-font-size(1.0625);
		}
	}
}
/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
	.one-half {
		width: calc(50% - (#{$spacing-unit} / 2));
	}
}
