---
layout: default
---
<!-- 目录页 -->
<div class="home">
  {%- for collection in site.collections -%}
    {%- if collection.docs.size > 1 -%}
    <ul class="menu-list">
      <a class="menu-link" href="/{{ collection.label}}/list">{{collection.title}}</a>
      {% assign my_array = collection.docs | sort: "date" | reverse %}
      {%- for post in my_array limit:6 -%}
      {%- unless post.menu -%}
      <li>
        <span class="post-meta">{{ post.date | date: site.minima.date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
      </li>
      {%- endunless -%}
      {%- endfor -%}
    </ul>
    {%- endif -%}
  {%- endfor -%}
</div>
